* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
}

h3 {
    text-align: center; 
    margin: 0; 
    font-size: 1.2em;
    font-weight: bold;
}

header {
    background-color: #2d3945;
    color: white;
    padding: 25px 50px;
}

legend {
    font-weight: bold;
}

.header {
    text-align: center;
    padding: 1rem;
}

.header h1 { 
    margin-bottom: .5rem;
}

body {
    font-family:'Merriweather', serif;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 300px; 
    margin: 0 auto;
}

button {
    background-color: #2d3945;
    color: white;
    border: none; 
    padding: 1.5rem 0;
    border-radius: 5px;
    width: 100%;
}

.contact, 
.selection{
    background-color: #fadadd;
    border-radius: 5px;
}

input,
textarea,
select {
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

option:first-child {
    color: #768593;
}

textarea {
    margin-top: 10px;
    font-size: .8rem; 

}

.contact label {
    display: block;
    margin-top: 1rem;
}

.contact {
    margin: 1.5rem 0;
}

.contact input,
.contact select,
.selection textarea {
    width: 100%;
}

.contact input[id="zip"] { width: 50%; }

.light-grey,
label {
    font-size: .9rem;
    color: #2d3945;
    margin-bottom: 10px;
}

fieldset {
    border: none;
}

footer p {
    margin-top: 25px;
    font-size: .6rem;
    color: #2d3945;
}

.selection label[for="html-news"],
.selection label[for="css-news"],
.selection label[for="javascript-news"],
.selection label[for="html"],
.selection label[for="plain-text"]{
    display: inline-block;
    margin: .5rem .5rem;
}

.last-contact,
.newsletter-options,
.newsletter-format {
    margin: 10px 0;
}

.selection {
    margin-bottom: 10px;
}

.thin-line {
    margin-bottom: 20px;
    padding: 1px 0px;
    background-color: #2d3945;
    border: none;
}

.thick-line {
    padding: 2px 0px;
    background-color: #2d3945;
    border: none;
    margin-bottom: 5px;
}

.news-cap {
    font-size: .8rem;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: small;
    margin-bottom: 150px;
}

input::placeholder {
    color: #768593;;
    text-align: right;
    font-size: .8rem;
}

input:focus,
textarea:focus,
select:focus {
    outline-color: #2d3945; 
    outline-width: 5px;
    outline-style: dashed; 
    transition: outline-width .5s;
}

button:focus {
    outline-color: #06e7cb; 
    outline-width: 5px;
    outline-style: dashed; 
    transition: outline-width .5s;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column; 
    }
    .flex-inputs {
        display: flex; 
        flex-direction: row;
    }
    main {
        max-width: 748px;
        margin: 0 auto;
    }

    input,
    select {
        flex-basis: 75%;
    }

    label {
        flex-basis: 25%;
    }

    .contact input[id="zip"] {
        flex-basis: 25%;
    }

    .flex-inputs {
        margin: 1rem 0;
    }
}